
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.Python
env/
venv/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo
*.pot

target/

*.log
*.pot
*.pyc
__pycache__/
local_settings.py
staticfiles/
